/task-12/build/
картинки по папкам 2x 3x папкам
подтягиваем данные из репы
amount - отдельный файл

доп сущность - чек


дто и ентити - разное


дто - то что пришло с доп методами
ентити - то что идет в некст слой

decimal

боттом навигейшн бар - вместо elementAt - indexed stack

дата - не строка
аппбар боттом